<div data-controller="ranking" class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <%= turbo_stream_from :ranking %>
  <div class="flex items-center justify-between mb-4">
    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Top 10</h5>
    <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">
        Scores
    </a>
  </div>
  <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flow-root">
      <ul data-ranking-target="list" role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <%= render @ranking %>
      </ul>
    </div>
  </div>
</div>