<div class="header d-flex justify-content-between" data-controller="nav">
  <span class="font-size-22 m-t-10 m-l-20 pointer flex gap-2 items-center">
    <i class="anticon anticon-menu d-lg-none" data-action="click->nav#openMenu"></i>
    <%= image_tag "wid/facebook_cover_photo_1", height: "50", width: "130", alt: "Logo" %>
  </span>
  <% if user_signed_in? %>
  <div class="d-flex align-items-center gap-4 mr-4">
    <div class="relative pointer">
    </div>
    
    <%= image_tag "wid/facebook_cover_photo_1", id: "dropdownAvatar", class: "w-[30px] h-[30px] rounded-full", data: {dropdown_toggle: "dropdownHoverAvatar", dropdown_trigger: "hover"} %>
    <div id="dropdownHoverAvatar" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownAvatar">
          <li>
            <a href="/" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
          </li>
        </ul>
    </div>
  </div>
  <% end %>
</div>